<div class="elo">
  <h2 class="section-header">Elo Ratings</h2>
  <table class="elo-table is-collapsed">
    <thead>
      <tr>
        <th class="elo-rating">
          <span>Elo</span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
        <th class="elo-team">
          <span>Team</span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
        <th class="elo-conf">
          <span>Conference<span class="elo-div"> / Division</span></span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (team of teams) { %>
        <% const teamSeason = team.seasons.filter(eloSeason => eloSeason.seasonNo === season); %>
        <% const teamWeek = teamSeason.length ? teamSeason[0].weeks.filter(eloWeek => eloWeek.weekNo === week) : false; %>
        <tr>
          <td class="elo-rating" title="<%= team.elo.toFixed(4) %>" data-value="<%= team.elo %>">
            <span>
              <%= Math.round(team.elo) %>
            </span>
            <% if (teamWeek.length && teamWeek[0].hasOwnProperty('eloChange')) { %>
              <span class="elo-change <%= teamWeek[0].eloChange < 0 ? 'is-decrease' : 'is-increase' %>">
                <%= teamWeek[0].eloChange > 0 ? '+' : '' %><%= Math.round(teamWeek[0].eloChange) %>
              </span>
            <% } %>
          </td>
          <td class="elo-team" data-value="<%= team.name %>">
            <a href="#<%= encodeURI(team.name) %>">
              <img class="elo-team-logo" src="/images/logos/<%= team.abbr %>.svg" alt="<%= `${team.name} logo` %>">
              <span><%= team.name %></span>
            </a>
            <span class="elo-record">
              (<%= team.wins %>-<%= team.losses %><%= team.ties > 0 ? `-${team.ties}` : '' %>)
            </span>
          </td>
          <td class="elo-conf" title="<%= team.fullConf %> - <%= team.div %>" data-value="<%= team.fullConf %> - <%= team.div %>">
            <%= team.conf %>
            <% if (team.div !== 'N/A') { %>
              <span class="elo-div">- <%= team.div %></span>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <div class="elo-expand">
    <button data-collapse-text="Show less" aria-expanded="false">Show more</button>
  </div>
</div>
<div class="elo-lightbox-bg"></div>
<div class="elo-lightbox" role="dialog" aria-modal="true" tabindex="-1">
  <div class="elo-chart" id="elo-chart"></div>
  <a class="elo-lightbox-close" href="#">×</a>
</div>
<script src="/js/elo.js" async></script>
<script src="/js/vendor/highcharts/highcharts.js" defer></script>
<script src="/js/vendor/highcharts/highcharts-more.js" defer></script>
<script src="/js/vendor/highcharts/exporting.js" defer></script>
<script src="/js/vendor/highcharts/export-data.js" defer></script>
<script src="/js/vendor/highcharts/accessibility.js" defer></script>
<script src="/js/elo-chart.js" defer></script>