<div class="elo">
  <h2 class="section-header">Elo Ratings</h2>
  <table class="elo-table is-collapsed">
    <thead>
      <tr>
        <th class="elo-rating">
          <span>Elo</span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
        <th class="elo-team">
          <span>Team</span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
        <th class="elo-conf">
          <span>Conference<span class="elo-div"> / Division</span></span>
          <div class="sorter">
            <span class="asc">▲</span>
            <span class="desc">▼</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (team of teams) { %>
        <tr>
          <td class="elo-rating" title="<%= team.elo.toFixed(4) %>" data-value="<%= team.elo %>"><%= Math.round(team.elo) %></td>
          <td class="elo-team" data-value="<%= team.name %>">
            <a href="#<%= encodeURI(team.name) %>"><%= team.name %></a>
            <span class="elo-record">
              (<%= team.wins %>-<%= team.losses %><%= team.ties > 0 ? `-${team.ties}` : '' %>)
            </span>
          </td>
          <td class="elo-conf" title="<%= team.fullConf %> - <%= team.div %>" data-value="<%= team.fullConf %> - <%= team.div %>">
            <%= team.conf %>
            <if condition="team.div !== 'N/A'">
              <span class="elo-div">- <%= team.div %></span>
            </if>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <div class="elo-expand">
    <button data-collapse-text="Show less">Show more</button>
  </div>
</div>
<div class="elo-lightbox-bg"></div>
<div class="elo-lightbox">
  <div class="elo-chart" id="elo-chart"></div>
  <a class="elo-lightbox-close" href="#">×</a>
</div>