<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {url: url}) %>
<body class="<%= bodyClass %>">
  <div class="container">
    <header class="header">
      <a href="/" class="header-logo">
        <img src="/images/logo.svg" alt="OneTwoOneTwo">
      </a>
      <ul class="nav" role="navigation">
        <li class="nav-item is-disabled">
          <span>Articles</span>
        </li>
        <li class="nav-item <%= url.startsWith('/scores') ? 'is-active' : ''%>">
          <a href="/scores">Scores</a>
        </li>
        <li class="nav-item <%= url.startsWith('/standings') ? 'is-active' : ''%>">
          <a href="/standings">Standings</a>
        </li>
        <li class="nav-item <%= url.startsWith('/stats') ? 'is-active' : ''%>">
          <a href="/stats">Stats</a>
        </li>
        <li class="nav-item is-disabled">
          <span>Metrics</span>
        </li>
      </ul>
      <button class="nav-expand" data-expand-text="Menu" data-collapse-text="Close" aria-expanded="false">
        Menu
      </button>
    </header>
    <script src="/js/mobile-nav.js" defer></script>