<div class="scores-games">
  <% for (let i = 0; i < games.json.length; i += 1) { %>
    <%
      const {id, home, away, status, endTime_utc} = games.json[i];
      const homeTeam = teams.filter(team => team.name === home.name)[0];
      const awayTeam = teams.filter(team => team.name === away.name)[0];
      const gameTeams = [
        {short: homeTeam.short, abbr: homeTeam.abbr, ...home},
        {short: awayTeam.short, abbr: awayTeam.abbr, ...away},
      ];
      const final = typeof status === 'undefined' || status.final;
      // Catch any oddities
      [homeTeam, awayTeam].forEach((team, i) => {
        if (!team) {
          console.log(`No match for ${['home','away'][i]} team!`);  
        }
      });
    %>
    <table class="scores-game <%= final ? 'is-final' : '' %>">
      <tbody>
        <tr>
          <td class="scores-status">
            <%= final ? 'FINAL' : `${status.time} ${status.quarter}Q - ${status.down} & ${status.toGo} on ${status.whoseYardline} ${status.yardline}` %>
          </td>
          <th class="scores-q">
            1
          </th>
          <th class="scores-q">
            2
          </th>
          <th class="scores-q">
            3
          </th>
          <th class="scores-q">
            4
          </th>
          <th class="scores-score">
            T
          </th>
        </tr>
        <% gameTeams.forEach((team) => { %>
          <tr>
            <td class="scores-team">
              <div class="scores-team-logo lazy-img" data-bg="/images/logos/<%= team.abbr %>.svg" aria-hidden="true"></div>
              <span class="scores-team-name <%= !final && team.name !== status.possession ? 'is-defense' : '' %>" title="<%= team.name %>">
                <%= team.short ? team.short : team.name %>
              </span>
              <!-- TODO <span class="scores-team-record">
                0-0
              </span>-->
            </td>
            <td class="scores-q">
              <%= team.q1 %>
            </td>
            <td class="scores-q">
              <%= (!final && status.quarter < 2) ? '-' : team.q2 %>
            </td>
            <td class="scores-q">
              <%= (!final && status.quarter < 3) ? '-' : team.q3 %>
            </td>
            <td class="scores-q">
              <%= (!final && status.quarter < 4) ? '-' : team.q4 %>
            </td>
            <td class="scores-score">
              <%= team.score %>
            </td>
          </tr>
        <% }); %>
      </tbody>
      <caption>
        <%
          const currentTimestamp = Math.floor(Date.now() / 1000);
          const lastPlayTime = endTime_utc ? endTime_utc : startTime_utc;
          const timeDiff = currentTimestamp - lastPlayTime;
          let timeString = `${timeDiff} sec${timeDiff > 1 ? 's' : ''}`;
          if (timeDiff > 86400) {
            timeString = `${Math.round(timeDiff / 86400)} day${Math.round(timeDiff / 86400) > 1 ? 's' : ''}`;
          } else if (timeDiff > 3600) {
            timeString = `${Math.round(timeDiff / 3600)} hour${Math.round(timeDiff / 3600) > 1 ? 's' : ''}`;
          } else if (timeDiff > 60) {
            timeString = `${Math.round(timeDiff / 60)} min${Math.round(timeDiff / 60) > 1 ? 's' : ''}`;
          }
        %>
        <% if (final) { %>
          <a href="<%= `https://redd.it/${id}` %>" class="scores-link" target="_blank" rel="noopener noreferrer">
            <span>Finished <%= timeString %> ago &gt;</span>
          </div>
        <% } else { %>
          <a href="<%= `https://reddit-stream.com/comments/${id}` %>" class="scores-link" target="_blank" rel="noopener noreferrer">
            <span>Last play <%= timeString %> ago &gt;</span>
          </div>
        <% } %>
      </caption>
    </table>
  <% } %>
</div>