<% if (typeof scores === 'undefined') { %>
  <div class="scoreboard-games">
    <div class="scoreboard-game">
      <div class="scoreboard-teams">
        <div class="scoreboard-team">
          <div class="scoreboard-team-name">
            Loading...
          </div>
          <div class="scoreboard-team-score">
            ?
          </div>
        </div>
        <div class="scoreboard-team">
          <div class="scoreboard-team-name">
            Loading...
          </div>
          <div class="scoreboard-team-score">
            ?
          </div>
        </div>
      </div>
      <div class="scoreboard-status">
        Loading...
      </div>
      <span class="scoreboard-stream-link">
        <span>Loading...</span>
      </span>
    </div>
  </div>
<% } else { %>
  <div class="scoreboard-games">
    <% for (const score of scores) { %>
      <%
        const { id, start, edit, home, away, status } = score; 
        const teams = [home, away];
        const final = typeof status === 'undefined' || status.final;
      %>
      <div class="scoreboard-game">
        <div class="scoreboard-teams">
          <% [home, away].forEach((team, i) => { %>
            <div class="scoreboard-team">
              <div class="scoreboard-team-name <%= !final && team.name !== status.possession ? 'is-defense' : '' %>">
                <% if (!team.name) {console.error(team)} %>
                <%= team.name %>
              </div>
              <div class="scoreboard-team-score
                <%= final ? 'is-final' : '' %>
                <%= team.score > teams[(i + 1) % 2].score ? 'is-win' : 'is-loss' %>
              ">
                <%= team.score %>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="scoreboard-status">
          <%= final ? 'Final' : `${status.time} ${status.quarter}Q - ${status.down} & ${status.toGo} on ${status.whoseYardline} ${status.yardline}` %>
        </div>
        <a href="<%= `https://reddit-stream.com/comments/${id}` %>" class="scoreboard-stream-link">
          <span>View on reddit-stream &gt;</span>
        </a>
      </div>
    <% } %>
  </div>
<% }; %>